.header {
    display: flex;
    /* background-color: brown; */
    width: 100%;
    position: relative;
    z-index: 1000;
}

.header .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h2 {
    flex-basis: 40%;
}

.header h2 img {
    position: relative;
    left: 100px;
}

.header li {
    list-style: none;
    margin: 0px 20px;
}

.header li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

.header #log {
    background-color: #F65F5F;
    border-radius: 100px;
    width: 162px;
    height: 45px;
    padding: 10px 30px;
}

.header #log:hover {
    background-color: #fb3636;
}

@media(max-width:400px) {
    .header {
        position: relative;
        left: 100px;
        width: 100%;
        transform: scale(0.4);
        display: none;
    }

    .header .box {
        display: none;
    }

}